{{ 'custom-product-media-gallery.css' | asset_url | stylesheet_tag }}

<div class="my-product-media">
  <div class="my-product-media__wrap">

    <div  class="swiper my-product-media-swiper">
      <div class="swiper-wrapper">
        {% for  media in product.media %}
          <div class="swiper-slide">
            <div class="swiper-slide__wrap">
              <div class="image__wrap">
                <div class="image__body">
                  {% render 'product-media', media: media %}
                </div>
              </div>
              
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination product-media-pagination"></div>  
    </div>
    <div thumbsSlider="" class="swiper my-product-thumbs-swiper">
      <div class="swiper-wrapper">
        {% for  media in product.media %}
          <div class="swiper-slide">
            <div class="swiper-slide__wrap">
              {% render 'product-media', media: media %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>