<style>
    #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
</style>
<div class="breadcrumb container">
    {% render 'breadcrumbs' %}
</div>

{% schema %}
{
    "name": "Breadcrumb",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "label": "Paddind top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Paddind bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "default": 60
        }
    ],
    "presets": [
        {
            "name": "Breadcrumb"
        }
    ]
}
{% endschema %}