@import url("https://use.typekit.net/kzg8vyl.css");
 /*@font-face {
  font-family: Acumin Pro;
  src: url(https://cdn.shopify.com/s/files/1/0572/9442/2095/files/Acumin-RPro.otf?v=1699615469);
}
@font-face {
  font-family: IvyPresto Display;
  src: url(https://cdn.shopify.com/s/files/1/0572/9442/2095/files/Acumin-RPro.otf?v=1699615469);
}*/
body::-webkit-scrollbar { width: 0; }
:root {
  --font-size-60: clamp(35px, 4.167vw, 60px);
  --font-size-48: clamp(30px, 3.333vw, 48px);
  --font-size-36: clamp(25px, 2.5vw, 36px);
  --font-size-30: clamp(22px, 2.083vw, 30px);
  --font-size-24: clamp(18px, 1.667vw, 24px);
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-10: 10px;
}

h1 {
  font-family: "ivypresto-display";
  font-size: var(--font-size-60);
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 43.2px */
  text-transform: capitalize;
}

h2 {
  color: var(--brown-01, #6d5f52);

  /* H2 */
  font-family: "ivypresto-display";
  font-size: var(--font-size-48);
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 52.8px */
  text-transform: capitalize;
}

h3 {
  font-family: "ivypresto-display";
  font-size: var(--font-size-36);
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 43.2px */
  text-transform: capitalize;
}

h4 {
  font-family: "ivypresto-display";
  font-size: var(--font-size-30);
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 43.2px */
  text-transform: capitalize;
}
/***** subtitle 1 ****/
h5 {
  font-family: "ivypresto-display";
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 43.2px */
  text-transform: capitalize;
}

/**** subtitle 2 ****/
.img-wrap{
  position: relative;
  padding-top:100%;

}
.img-wrap img{
  display:block;
  width:100%;
  height: 100%;
  object-fit: cover;
}
h6 {
  color: var(--brown-01, #6d5f52);
  font-family: "acumin-pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
/**** body 1 ***/
p {
  color: var(--brown-01, #6d5f52);
  font-family: "acumin-pro";
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.body-2 p{
  color: var(--brown-03, #A7A294);
  /* Body 2 - Regular */
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
}
.overline p {
  color: var(--brown-03, #a7a294);
  /* Overline */
  font-family: "acumin-pro";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 14px */
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
#MainContent{
  overflow: hidden;
}
.a-btn {
  display: flex;
  width: 100%;
  height: 37px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: var(--soft-coral, #eddfd5);

  color: var(--brown-01, #6d5f52);
  /* Subtitle 2 */
  font-family: "acumin-pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 21px */
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.a-btn:hover {
  background: var(--brown-01, #6d5f52);

  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--soft-coral, #eddfd5);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(20px, 3.472vw, 50px);
  padding-right: clamp(20px, 3.472vw, 50px);
}
.page-width {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(20px, 3.472vw, 50px);
  padding-right: clamp(20px, 3.472vw, 50px);
}

/**** my card ****/
.my-card {
  height: 100%;
}
.my-card .overline p {
  color: var(--brown-03, #a7a294);
}
.my-card .image .image__body {
  position: relative;
  padding-top: 120%;
}
.my-card .my-card__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.my-card .item-content {
  padding: 8px 0;
}
.my-card .image .image__body img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.my-card .title {
  margin: 0 0 4px 0;
}
.my-card .title h6 {
  margin: 0;
}
.my-card .product_price {
  margin-top: 14px;
}
.my-card .product-btn {
  margin-top: auto;
}
.my-card .product_price p {
  color: var(--brown-01, #6d5f52);
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
/**** end my card ****/

/******** product *******/
.product {
  justify-content: space-between;
}
.product .product__media-wrapper {
  max-width: 49.328% !important;
  width: 49.328% !important;
}
.product .product__info-container {
  max-width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  gap:12px;
}
.product .product__info-wrapper {
  max-width: 45.2238% !important;
  width: 45.2238% !important;
  padding: 0;
}
.product .product__title {
  margin: 0 0 12px 0;
  width: 100%;
}

.product .product__description {
  width: 100%;
  margin: 0 0 24px 0 !important;
  /* Body 1 */
  font-family: "acumin-pro";
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.product .price-item {
  color: var(--brown-01, #6d5f52);
  font-family: "ivypresto-display";
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 31.2px */
  letter-spacing: 0.24px;
  text-transform: capitalize;
}
.product .price__container {
  margin: 0;
}
.product .product-price {
  margin: 0 0 14px 0 !important;
  width: 100%;
}
.m0 {
  margin: 0 !important;
  display: none !important;
}
.product .product__text {
  color: var(--brown-03, #a7a294);
  font-family: "acumin-pro";
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.12px;
  margin: 0;
  max-width: 226px;
}
.product .product-text {
  margin: 0 0 24px 0;
  width: 100%;
}
.product .product-form__input {
  max-width: 154px !important;
}
.product .product-form__input .quantity {
  width: 154px;
}
.quantity {
  min-height: 0;
  height: 37px;
}
.quantity__input {
  color: var(--brown-01, #6d5f52);
  text-align: center;

  /* Subtitle 2 */
  font-family: "acumin-pro";
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.product-buttons{
    margin:0 0 48px 0 !important;
    max-width: 268px;
    width:100%;
}
.product-form{
    margin:0 !important;
   
}
.product-form__input{
    margin:0 !important;
}
.product-form__buttons{
    max-width: 100% !important;
}
.product-form__submit {
  margin:0 !important;
  display: flex;
  justify-content: center;
  height: 37px;
  align-items: center;
  max-width: 268px;
  width: 100%;
  min-height: 37px !important;
  color: var(--brown-01, #6d5f52);
  text-align: center;
  font-family: "acumin-pro";
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */

  background: var(--soft-coral, #eddfd5);
}

.product_tab{
    width:100%;
}
.product_tab[open] summary{
    padding-bottom: 0;
}
.product_tab summary{
    color: var(--brown-01, #6D5F52);

    /* Subtitle 2 */
    font-family: "acumin-pro";
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    padding-bottom:12px;
}
.product_tab{
    border-bottom: 1px solid #A7A294;
    margin:0 !important;
}
.product_tab .tab-content{
    border-top: 1px solid #A7A294;
    margin-top:12px;
}
.product_tab .tab-content p{
    margin: 12px 0 !important;

    color: var(--brown-02, #7C6F62);

    /* Body 2 - Regular */
    font-family: "acumin-pro";
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: 0.12px;
}


@media (max-width:767px){
  .product .product__info-wrapper{
    width:100% !important;
    max-width: 100% !important;
  }
  .product .product__media-wrapper{
    width:100% !important;
    max-width: 100% !important;
  }
  .product__media-wrapper{
    margin-bottom:20px;
  }
}
/****** end product ******/


/***** section contact *****/

.section-contact .container{
  padding-left:0;
}
.section-contact__wrap{
  display: flex;

}
.section-contact img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-contact .contant{
  padding: clamp(50px, 11.319vw, 163px) 20px clamp(50px, 9.722vw, 140px) 20px; 
  max-width: 324px;
  margin: 0 auto;
}
.section-contact .image-left{
  max-width:466px;
  width:33.525%;
  /* width:100%; */
  height: auto;
}
.section-contact .image1 {
  max-width:255px;
  max-height: 319px;
  /* width: 100%; */
  width:18.345%;
}
.section-contact .title{
  margin:0 0 24px 0;

}
.section-contact .contact .text{
  margin:0;

}
.section-contact .title h3{
  margin: 0;
}
.section-contact .text{
  margin-bottom: 24px;
}
.section-contact .contact{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap:20px 10px;
}

.section-contact .label{
  margin-bottom:6px;
}
.section-contact .label p{
  margin:0;
}
.section-contact a{
  color: var(--brown-01, #6D5F52);

  /* Body 1 */
  font-family: "acumin-pro";
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration: none;
}

@media (max-width:768px){
  .section-contact__wrap{
    display: flex;
    flex-wrap:wrap;
  }
  .section-contact__wrap .image{
    max-width:100%;
    width: 100%;
  }
  .section-contact .container{
    padding-right: 0;
  }
  .section-contact .contant{
    max-width:100%;
  }
}
/***** end section contact *****/


/***** section recomendation ******/
.rental{
  width:100%;
}
.rental .span{
  width:max-content;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  background: #F5EAE2;

  color: var(--brown-01, #6D5F52);
  text-align: center;

  /* Overline */
  font-family: "acumin-pro";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 14px */
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
.product-tabs-recomentadion .title{
  margin:0 0 24px 0;
}
.product-tabs-recomentadion .title h4{
  margin:0;
}
.product-tabs-recomentadion .tab-content:after , .product-tabs-recomentadion .tab__item:after{
  content:none !important;
}
.product-tabs-recomentadion .container{
  padding-right: 0;
}
.product-tabs-recomentadion .tabs__header{
  margin:0 0 24px 0;
}
.product-tabs-recomentadion .tab-content{
  display: none;
}
.product-tabs-recomentadion .tab-content.active{
  display: block;
}
.product-tabs-recomentadion .swiper-recomedation .swiper-slide{
  height: auto;
}
.product-tabs-recomentadion .swiper-recomedation .swiper-slide .swiper-slide__wrap{
  height: 100%;
}
.product-tabs-recomentadion .swiper-recomedation .product-btn .a-btn{
  padding:0;
}

.product-tabs-recomentadion .tabs__header{
  display: flex;
  flex-wrap:wrap;
  gap:20px 0;
}
.product-tabs-recomentadion .tab__item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  padding-bottom:7px;
  border-bottom: 2px solid #A7A294;
  cursor: pointer;
}
.product-tabs-recomentadion .tab__item.active{
  border-bottom: 2px solid #6D5F52;
}
.product-tabs-recomentadion .tab__item:hover{
  border-bottom: 2px solid #6D5F52;
  transition: all .4s ease-in-out;
}
.product-tabs-recomentadion .swiper-btn{
  display: block !important;
  width: 42px;
  height: 42px;
}
.product-tabs-recomentadion .swiper-btn::after, .tab-recomendation .swiper-btn::after{
  content:none !important;
}
.product-tabs-recomentadion .swiper-button-disabled, .tab-recomendation .swiper-button-disabled{
  display: none !important;
}
.product-tabs-recomentadion .swiper-button-prev.swiper-btn svg, .tab-recomendation .swiper-button-prev.swiper-btn svg{
  transform: rotate(-180deg);
}
.product-tabs-recomentadion .pagination__wrap{
  position: relative;
  position: static !important;
  padding-right: clamp(20px, 3.472vw, 50px);
  padding-left: 0;
}
.product-tabs-recomentadion .pagination__wrap{
  margin-top:24px;
}
.product-tabs-recomentadion .pagination__wrap .swiper-pagination{
  position: static !important;
  width:100% !important;
  height: 6px !important;
  background: var(--beige-02, #F8F5F0);
}
.swiper-pagination-progressbar-fill{
  background: #EDDFD5 !important;
}
.share-button, variant-radios, .color{
  width: 100%;
}
/******* end recomendation *********/

/**** breadcrumbs ***/
.breadcrumbs .breadcrumbs__list{
  display:flex;
  align-items: center;
  gap:6px;
 
}
.breadcrumbs ul {
  list-style-type:none;
  padding:0;
  margin:0;
}
.breadcrumbs a{
  color: var(--brown-03, #A7A294);
  /* Body 2 - Medium */
  font-family: "acumin-pro";
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  display:flex;
  align-items: center;
  gap:6px;
  text-decoration: none;
}
.breadcrumbs.breadcrumbs li:last-child a span{
  display: none;
}
.breadcrumbs.breadcrumbs li:last-child a {
  color: var(--brown-01, #6D5F52);
}
.breadcrumbs-body{
  padding:30px 0  36px 0;
}
/**** end breadcrumbs ***/
/***** footer ****/
.footer-img img{
  display:block;
  width:100%;
  height: 100%;
  object-fit: cover;
  max-height: 47px;
  max-width:109px;
}
.footer-block__heading , .contact-and-social .title h2{
  color: var(--brown-01, #6D5F52) !important;
/* Subtitle 2 */
font-family: "acumin-pro" !important;
font-size: var(--font-size-14) !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: 150% !important;
margin:0 0 12px 0 !important;
width:max-content !important;
}
.block-social-my{
  margin-left:auto
}
.contact-and-social .title{
  margin:0;
}
.contact-and-social__wrap{
  display: flex;
  gap:0 clamp(20px,3.194vw,46px);
  flex-wrap:wrap;
}
.footer-block.grid__item{
  width:max-content !important;
}
.footer-block__details-content li, .footer-block__details-content{
  width:max-content !important;
}
.footer-block__details-content{
  flex-grow: 0 !important;
}
.footer .grid__item{
  flex-grow:0 !important;
}
.footer__blocks-wrapper{
  gap:30px clamp(20px,7.639vw,110px);
}
.social .social_list ul{
  display:block;
}

.footer-block__details-content .link, .footer .label, .contact-contant a, .contact-and-social .social_list .link{
  color: var(--brown-01, #6D5F52);

  /* Body 2 - Regular */
  font-family: "acumin-pro";
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
  text-decoration: none;
}
.contact-contant p{
  margin:0;
}
.footer .label{
  margin-bottom:6px;
}
.contact-contant .item{
  margin-bottom:20px;
}

.contact-and-social .social_list .link{
  padding:0;
  
}
.contact-and-social .social_list li{
  margin-bottom: 20px;
}
.footer__content-top{
  padding-bottom:0 !important;
}
.footer__content-bottom{
  padding-top:16px !important;
  padding-bottom: 16px;
}
.footer__copyright{
  margin-top:0 !important;
}
.copyright__content, .copyright__content a{
  color: var(--brown-03, #A7A294);
  text-align: center;

  /* Body 2 - Medium */
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}
/***** end footer ****/

/****** header ******/
sticky-header{
  
}
.list-menu__item{
  font-family: "acumin-pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  text-decoration:none !important;
}
.header__active-menu-item{
  color: var(--brown-03, #A7A294);
}
.header__active-menu-item{
  text-decoration: none;
}
.header__menu-item{
  padding:0;
}
summary.list-menu__item{
  padding-right:0 !important;
}
.header__inline-menu{
  margin-top:29px !important;
  padding:10px 0;
  position: relative;
}
.header__inline-menu .list-menu{
  gap:20px clamp(20px, 3.472vw ,50px);
  position: relative;
  z-index: 1;
}
.header__inline-menu:before{
  content:'';
  position: absolute;
  top:0;
  height: 100%;
  width:100vw;
  background: var(--soft-coral, #EDDFD5);
  left:50%;
  transform: translateX(-50%);
  z-index: 0;
}
.header__icon--cart, .header__icon--account, .header__icon--search{
  display: flex;
  align-items: center;
  gap:4px;
  text-decoration: none;
  color: var(--brown-01, #6D5F52);

  /* Body 2 - Medium */
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-right: 0;
  height: auto;
  width: auto;
  padding-right: 0;
}
.header__icons{
  gap:20px clamp(20px , 2.778vw , 40px);
  padding-right:0 !important;
}
/* .icon-search{
  height: 14px !important;
  width: 14px !important;
} */
.header__heading .header__heading-link{
  padding:0;
}
.header__search{
  display: flex;
  align-items: center;
}
.mega-menu[open] .mega-menu__content{
  transform: translateY(15px) !important;
}
.announcement-bar__message{
  color: var(--brown-01, #6D5F52);
  text-align: center;
  /* Body 2 - Regular */
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
  padding:10px 0 6px 0 !important;
}
.mega-menu__content{
  background: rgba(248, 245, 240, 0.90) !important;
  backdrop-filter: blur(5px);
}
.mega-menu__link{
  color: var(--brown-03, #A7A294) !important;

  /* Subtitle 2 */
  font-family: "acumin-pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 150% !important; /* 21px */
}
/***** end header *****/

/**** collection aside ****/
.my-aside-collection ul{
  list-style-type: none;

  padding:0;
  margin:0;
}
.menu-aside{

  
}
.menu-aside > li{
  margin-bottom:10px;
  padding:10px 11px 10px 20px;
  background: var(--beige-02, #F8F5F0);
}
.menu-aside li:last-child{
  margin-bottom:0px;
}
.menu-aside > li  a{
  color: var(--brown-01, #6D5F52);

  /* Body 2 - Medium */
  font-family: "acumin-pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.12px;
  text-decoration: none;

}
.my-aside-collection {
  margin-block-start: 1em;
  width:211px;
}
.menu-aside .link-item{
  line-height: 0;
}
.menu-aside .links-second-lvl{
  display:none;
}
.menu-aside .first-lvl.active .links-second-lvl{
  display: block;
}
.menu-aside .link-item{
  display:flex;
  justify-content: space-between;
  gap:10px;
  align-items: center;
}
.menu-aside .first-lvl{
  position:relative;
}
.menu-aside .first-lvl::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:9px;
  background: var(--soft-coral, #EDDFD5);
  height: 100%;
  opacity: 0;
}
.menu-aside .first-lvl.active{
  position:relative;
}
.menu-aside .first-lvl.active::before{
  opacity: 1;
}
.my-aside-collection .links-second-lvl {
  margin-top:16px;
}
.my-aside-collection .links-second-lvl li{
  line-height: 1;
}
.my-aside-collection .links-second-lvl li{
  margin-bottom:8px;

}
.my-aside-collection .links-second-lvl a{
  color: var(--brown-03, #A7A294);
}
.my-aside-collection svg{
  cursor:pointer;
}
.my-aside-collection .links-second-lvl li:last-child{
  margin-bottom:0;
}
.menu-aside .first-lvl .aside-btn line:first-child{
  transform: rotate(0deg);
  transform-origin: center;
  transition: all .3s ease;
}
.menu-aside .first-lvl.active .aside-btn line:first-child{
  transform: rotate(90deg);
  transform-origin: center;
  transition: all .3s ease;
}
@media (max-width:989px){
  .my-aside-collection{
    display: none;
  }
  .mobile-facets__inner .my-aside-collection{
    display:block;
  }
  .mobile-facets__inner .my-aside-collection{
    width:100%;
    padding:0 20px;
  }
}
/**** end collection aside ****/


/******** hero-banner ****/
.hero-banner{

}
.hero-banner .container{
  padding-right: 0px;
}
.hero-banner__wrap{
  display:flex;
  justify-content: space-between;
  gap:20px;
}
.hero-banner__wrap img{
  display:block;
  width:100%;
  height: 100%;
  object-fit: cover;
}
.hero-banner__wrap .left{
  width: 100%;
  max-width: 493px;
}
.hero-banner__wrap .left__wrap{
  padding:50px 0 43px 0;
}
.hero-banner .images{
  margin-bottom:24px;
}
.hero-banner .title h3 span{
  font-style: italic;
}
.hero-banner .title h3{
  margin:0;
  max-width: 450px;
  text-transform: none;
}
.hero-banner .title {
  margin-bottom:16px;
}
.hero-banner .subtitle{
  margin-bottom:20px;
}
.hero-banner .images__wrap{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}
.hero-banner .images__wrap .image{
  max-width: 211px;
  width:100%;
}
.hero-banner .images__wrap .image .image__body{
  position: relative;
  padding-top: 121.805%;
}
.hero-banner .images__wrap .image .image__body img{
  position:absolute;
  top:0;
  left:0;

}
.hero-banner .right{
  max-width: 943px;
  width: 100%;
}
.hero-banner .right .right__wrap{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero-banner .right .right__wrap .image{
  height: 100%;
  max-width: 543px;
}
.hero-banner .text {
  margin-bottom:20px;
}
.hero-banner .text h6{
  margin:0;
}
.hero-banner .a-btn{
  max-width:267px;
}
@media (max-width:1023px){
  .hero-banner .container{
    padding-right: clamp(20px, 3.472vw, 50px);
  }
  .hero-banner__wrap{
    flex-wrap:wrap;
  }
  .hero-banner .right{
    max-width: 100%;
    width: 100%;
  }.hero-banner .left{
    max-width: 100%;
    width: 100%;
  }
  .images__wrap{
    justify-content: center;
  }
  .hero-banner .title h3{
    max-width: 100%;
    text-align: center;
  }
  .hero-banner .text h6{
    text-align: center;
  }
  .hero-btn{
    display: flex;
    justify-content: center;
  }
  .hero-banner .right .right__wrap{
    justify-content: center;
  }
}
/***** end hero-banner ****/


/***** section-title-btn *****/

.section-title-btn{
  
  padding:42px 0;
}
.section-title-btn .title{
  margin:0 auto 24px auto;
  

}
.section-title-btn .title h4{
  margin:0;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
}
.section-besten .container{
  padding-left:0;
}
.section-title-btn .section-title-btns{
  display:flex;
  justify-content: center;
}
.section-title-btn .section-title-btns .a-btn{
  max-width: 268px;
}
/**** end section-title-btn ***/
.section-besten__wrap{
  display:flex;
  justify-content: space-between;
  gap:5.89%;
}
.section-besten__wrap .left{
  width:100%;
  max-width: 761px;
}
.section-besten__wrap .left .left__wrap{
  height: 100%;
}
.section-besten__wrap .left .left__wrap .images{
  height: 100%;
}
.section-besten__wrap .left .left__wrap .images__wrap{
  height: 100%;
}
.section-besten__wrap .left .left__wrap .images__wrap{
  height: 100%;
}
.section-besten__wrap .left .left__wrap .images__wrap .image{
  height: 100%;
}
.section-besten__wrap img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-besten__wrap .right .right__wrap{
  padding:clamp(50px,11.528vw,166px) 0;
}
.section-besten__wrap .images__wrap{
  position:relative;
  padding-right: clamp(50px,7.292vw,105px);
}
.section-besten__wrap .image-small{
  max-width: clamp(100px,14.653vw,211px);
  max-height: clamp(150px,18.819vw,271px);
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 0px;
}
.section-besten__wrap .right{
  width: 73%;
  max-width: 500px;
  text-align: left;
}
.section-besten__wrap .title{
  margin-bottom:16px;
}
.section-besten__wrap .title h4{
  margin:0;
  
}
.section-besten__wrap .text p{
  margin-bottom:10px;
  margin-top:0;
  letter-spacing: 0;
}
.section-besten__wrap .text p:last-child{
  margin-bottom:0;
}
@media (max-width:1023px){
  .section-besten__wrap .right .right__wrap{
    padding:50px 0;
  }
  .section-besten__wrap{
    
    gap:3.89%;
  }
}

@media (max-width:767px){
  .section-besten .container{
    padding-left:0;
    padding-right:0;
  }
  .section-besten__wrap .right .right__wrap{
    padding:50px 0;
  }
  .section-besten__wrap{
    
    flex-wrap:wrap;
  }
  .section-besten__wrap .right{
    width:100%;
    max-width:100%;
  }
  .section-besten__wrap .left{
    width:100%;
    max-width:100%;
  }
  .section-besten__wrap .image-small{
    max-width: 211px;
    max-height: 271px;
   
  }
  .section-besten__wrap .right{
    padding-left: clamp(20px, 3.472vw, 50px);
    padding-right: clamp(20px, 3.472vw, 50px);
  }
}
@media (max-width:500px){
  .section-besten__wrap .left .left__wrap .images__wrap{
    padding-right: 0px;
  }
  .section-besten__wrap .image-small{
    top:auto;
    bottom:-50px;
    right: 10px;
    transform: translateY(0);
  }
  .section-besten__wrap .image-small{
    max-width: 150px;
    max-height: 200px;
  }
}
/******/ 




/******************/
.section-blocks-grid{
  padding:36px 0;
  background: var(--beige-02, #F8F5F0);
}
.section-blocks-grid .title{
  margin:0 auto 36px auto;
  max-width: 506px;
}
.section-blocks-grid .title h3{
  margin:0;
  text-align: center;
  letter-spacing: 0;
}
.section-blocks-grid .blocks-list{
  display:flex;
  flex-wrap:wrap;
  gap:30px 1.08%;
}
.section-blocks-grid .blocks-list .my-blocks-item{
  width: 24.179%;
}
@media(max-width:1023px){
  .section-blocks-grid .blocks-list{
    display:flex;
    flex-wrap:wrap;
    gap:30px 2%;
  }
  .section-blocks-grid .blocks-list .my-blocks-item{
    width: 49%;
  }
}
@media(max-width:500px){
  .section-blocks-grid .blocks-list .my-blocks-item{
    width: 100%;
  }
}
/*******************/
/***** my-blocks-item ****/
.my-blocks-item{

}
.my-blocks-item .title{
  margin:0 0 10px 0;
  max-width: 100%;
}
.my-blocks-item .title h4{
  margin:0;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
}
.my-blocks-item .image{
  margin-bottom:13px;
}
.my-blocks-item .image .image__wrap{
  position: relative;
  padding-top: 112.963%;
}
.my-blocks-item .text{
  margin-bottom:13px;
}
.my-blocks-item a{
  text-decoration: none;
}
.my-blocks-item  .link-wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
  width: 100%;
}
.my-blocks-item .text p{
  margin: 0;
  letter-spacing: 0;
}
.my-blocks-item .image .image__wrap img{
  display: block;
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}
.my-blocks-item__wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.my-blocks-item__wrap .item-btn{
  margin-top:auto;
}
.my-blocks-item .a-btn{
  border: 1px solid var(--brown-01, #6D5F52);
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.my-blocks-item .a-btn:hover{
  background: var(--brown-01, #6d5f52);
}


/***** end my-blocks-item ****/

/******** section-image-slider *****/
.section-image-slider{
  padding:60px 0;
  background: var(--beige-02, #F8F5F0);
}
.section-image-slider .container{
  padding-left:0;
  padding-right: 0;
}
.section-image-slider .image__wrap{
  position: relative;
  transition: all .5s ease;
}

.section-image-slider .image__wrap img{
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-image-slider .title{
  margin:0 0 11px 0;
}
.section-image-slider .title h4{
  margin:0;
  text-align: center;
}
.section-image-slider .subtitle{
  margin:0 auto 24px auto;
  max-width: 457px;
} 
.section-image-slider .subtitle p{
  margin:0;
  text-align: center;
  letter-spacing: 0;
} 
.section-image-slider .section-img-btn{
  display:flex;
  justify-content: center;
  margin-top:24px;
}
.section-image-slider .section-img-btn .a-btn{
  max-width:268px;
}

.section-image-slider .swiper-image-slide{
  height: auto;
  
}
.section-image-slider .swiper-image-slide__wrap, .section-image-slider .image{
  height: 100%;
}

.section-image-slider .swiper-slide{
 
}


.section-image-slider .image__wrap{
  padding-top:100%;
  position: relative;
}
.section-image-slider .swiper-wrapper{
  height: clamp(350px,34.514vw,497px);
}
.section-image-slider .image__wrap img{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-image-slider .swiper-slide .image{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-image-slider .swiper-slide.swiper-slide-active .image__wrap{
  padding-top:130%;
}
.my-swiper-pagination{
  position: static;
}

.my-swiper-pagination .swiper-pagination-bullet{
  width:10px;
  height: 10px;
  background-color:#EDDFD5 ;
  opacity: 1 !important;
}
.my-swiper-pagination{
  margin-top:20px;
}
.my-swiper-pagination .swiper-pagination-bullet-active{
  background-color: #6D5F52;
}
/********** end section-image-slider *****/


/********* section history **********/
.section-history{
  padding:48px 0;
  /*background: var(--beige-02, #F8F5F0);*/
}
.section-history .title{
  max-width: 550px;
  margin:0 auto 24px auto;
}
.section-history .title h3{
  margin:0;
  text-align: center;
}
.section-history .title h3 span{
  font-style: italic;
}

.swiper-history-slide__wrap{
  display:flex;
  
  gap:37px;
  padding:20px 30px 20px 20px;
}
.section-history .my-swiper-pagination{
  margin-top:24px;
}

.swiper-history-slide__wrap .image {
  width: 100%;
  max-width: 225px;
}
.swiper-history-slide__wrap .image__wrap{
  position: relative;
  padding-top: 132.45%;
}
.swiper-history-slide__wrap .image__wrap::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  opacity: 0.5;
  background: lightgray -27.946px -41.624px / 117.06% 118.828% no-repeat;
  z-index: 2;
}
.swiper-history-slide__wrap .image img{
  display:block;
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  object-fit: cover;
}
.swiper-history-slide__wrap .title{
  margin:0 0 8px 0;
}
.swiper-history-slide__wrap .body-2{
  margin-bottom:12px;
}
.swiper-history-slide__wrap .body-2 p{
  margin:0;
}
.swiper-history-slide__wrap .title h5{
  margin:0;
}
.swiper-history-slide__wrap .text p{
  margin:0;
  max-width:350px;
}

@media (max-width:1023px){
  .swiper-history-slide__wrap{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    padding:20px 0 ;
  }
  .swiper-history-slide__wrap .image{
    max-width: 100%;
  }
  .swiper-history-slide__wrap .image__wrap{
    padding-top:120%;
  }
  .swiper-history-slide__wrap .text p{
    max-width: 100%;
  }
}
/********** end history ***********/

/***** dots product *****/
.my-dots__wrap{
  position:relative;
}
.dots-product{
  position:absolute;
  z-index: 3;
  max-width: 324px;
  width: 324px;
}
.dots-product .image{
  width: 152px;
}
.dots-product .product_content{
  width:calc(100% - 162px);
}
.dots-product .image .image__wrap{
  position:relative;
  padding-top:110%;
}
.dots-product .image .image__wrap img{
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  object-fit:cover;
  z-index: 3;
  min-height: 0;
}
.dots-product__wrap{
  padding:10px;
  background: rgba(252, 251, 249, 0.90);
  backdrop-filter: blur(5px); 
}
.dots-product__wrap{
  display: flex;
  gap:10px;
  justify-content: space-between;
}
.dots-product__wrap .product-btn .a-btn{
  width:100%;
  padding:0;
}
.dots-product .subtitle-2 p{
  margin:0;

}
.dots-product .overline p{
  margin:0;
  color:#6D5F52;
}
.dots-product .overline.overline1 p{
  color:#A7A294;
}
.dots-product .product_content{
  display:flex;
  flex-direction: column;
}
.dots-product .product_content .bottom-content{
  margin-top:auto;
}
.dots-product .product_content .bottom-content .overline{
  margin-bottom:10px;
}
.dots-product.bottom.left{
  left:0px;
  top:-200px;
} 
.dots-product.top.left{
  left:0px;
  top:-45px;
}     
.dots-product.top.right{
  right:0;
  top:-45px;
} 
.dots-product.bottom.right{
  right:0px;
  top:-200px;
  text-align: left;
} 
.dots-product.middle.center{
  left:-120px;
  top:-72px;
  text-align: left;
} 
.dots-product.bottom.center{
  left:-160px;
  top:-72px;
  text-align: left;
}
.dots-product.middle.left{
  left:0px;
  top:-72px;
  text-align: left;
} 
.dots-product.middle.right{
  right:0px;
  top:-72px;
  text-align: left;
} 
.dots-product.center{
  text-align: left;
}
@media (max-width:600px){
  .dots-product .product_content{
    width:calc(100% - 100px);
  }
  .dots-product .image{
    width: 100px;
  }
  .dots-product{
    position:absolute;
  
    max-width: 250px;
    width: 250px;
  }

  .dots-product.bottom.left{
    left:-30px;
    top:-150px;
  } 
  .dots-product.top.left{
    left:0px;
    top:-45px;
  }     
  .dots-product.top.right{
    left:-214px;
    top:-45px;
  } 
  .dots-product.bottom.right{
    left:-200px;
    top:-150px;
  } 
}

/***** end dots product ****/