.tabs-slider .tabs__header {
    display: flex;
    justify-content: center;
  }
  @media(max-width: 650px) {
    .tabs-slider .tabs__header {
      flex-wrap: wrap;
    }
  }
  .tabs-slider .title {
    text-align: center;
  }
  .tabs-slider .pagination__wrap {
    text-align: center;
  }
  .tabs-slider .tab__item {
    cursor: pointer;
    padding: 0 25px;
    border-bottom: 2px solid #A7A294;
  }
  .tabs-slider .active.tab__item {
    border-bottom-color: #6D5F52;
  }
  .tabs-slider .tab__item span {
  font-family: acumin-pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  }
  .tabs-slider .active.tab__item span {
    font-weight: 500;
    color: #6D5F52;
  }
  
  .tabs-slider .tabs-contants {
    margin-top: 24px;
  }
  .tabs-slider .tab-content {
      display: none;
  }
  .tabs-slider .tab-content.active {
      display: block;
  }
  .tabs-slider .tab-content img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
  .tabs-slider .swiper-btn {
      width: 40px;
      height: 40px;
  }
  .tabs-slider .swiper-button-next::after, .swiper-button-prev::after {
      content: none;
  }
  .tabs-slider .img-wrap {
      position: relative;
      padding-top: 100%;
  }
  .tabs-slider .img-wrap img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
  }